.chengse{
    margin:.2rem .15rem;
}
.chengse li{
    margin-bottom: .1rem;
    color: #404040;
    font-size: .14rem;
    line-height: .30rem;
}
.chengse .title{
    color: #131313;
    font-size: .15rem;
    font-weight: 800;
    display: inline-block;
    width: .5rem;
}
.chengse span{
    display: inline-block;
    width: calc(100% - .6rem);
    vertical-align: top;
}
body{
    background-color: #FFFFFF;
}